.App {
  width: 100%;
  height: 100%;
  text-align: center;
}

.title {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.source-holder {
  width: 100vw;
  height: 50vh;
  padding: 3em;
  margin: 1em;
}

.intro {
  width: 40vw;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
  text-align: left;
}


.source-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.source-container::-webkit-scrollbar {
  display: none;
}

.hamilton_source {
  height: 55vh;
}

.source {
  height: 55vh;
}

.caption {
  font-size: 1.2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
